body{ 
   margin: 0;
   padding: 0; 
   width: 100%;
   height: 100%;
}
 
/* 
 ::-webkit-scrollbar{
   width: 15px;
 }
 ::-webkit-scrollbar-track{
   background:gray;
 }
 ::-webkit-scrollbar-thumb{
   border-radius: 5px;
   background: rgb(102, 101, 101);
 }
 ::-webkit-scrollbar-thumb:hover{
   background: rgb(51, 50, 50);
 } */